* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  
}

ul {
  margin: 0;
  list-style-type: none;
}

.container {
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.counters {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.list{
  margin: 5px;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.379), 0 17px 50px 0 rgba(0, 0, 0, 0.366);
}

.button-2 {
  border-radius: 50px;
  border: 1px solid rgb(49, 49, 49);
  background-color: rgba(70, 255, 175, 0.246);
  margin-left: 3px;
}

.button-2:hover {
  transition: 0.1s linear;
  background-color: rgba(211, 211, 211, 0.772);
  border: 1px solid rgba(31, 31, 31, 0.232);
}

.todo-list {
  margin-top: 10px;
  padding: 20px;
  align-self: center;
}


